.divclass {
background-color: red;
box-shadow: 5px 5px 9px black;

height: 100px;
 

}
h1 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
}
.span1 {
background: pink;
background-color:green;

}
