.carmodal {
  background-color: azure;
  margin: 15% auto;
  padding: 10px;
  border: 2px solid gray;
  width: 90%;
}
.tableclass {
  border: 2px;
  border: 1px solid grey;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  border-top: 3px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 4px;
  box-shadow: 3px 3px 5px black;
}
.car1 {
  height: 450px;
  width: 650px;
}

.divclass1 {
  width: 650px;
  background-color: yellow;
}
.p1 {
  text-shadow: 1px 1px 3px black;
  padding-left: 10px;
}
.divclass {
  width: 650px;
  background-color: green;
}
.action {
  width: 300px;
  height: 25;
  background-color: aliceblue;
}
.imagescar {
  position: relative;
  width: 100%;
}

li {
  padding-left: 10px;
  text-shadow: 3px 3px 6px black;
  font-size: 20px;
}

.civic {
  padding-left: 10px;
  font-size: 21px;
}
h2 {
  padding-left: 10px;
}
.action {
  width: 300px;
  height: 25;
  background-color: aliceblue;
}
